
.fronco {
text-align: center;
font-family: 'Roboto', sans-serif;
color:#336633;
}
.description{
  text-decoration: none;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color:#202020;
  font-size: 15px;
}

.nameproduct{
text-decoration: none;
text-align: left;
font-family: 'Lato', sans-serif;
color:#000000;
font-size: 20px;
}
.price{
text-align: left;
font-family: 'Lato', sans-serif;
color:#ff6600;


}
.priceup {
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #808080;
  text-decoration: line-through; 
}
.priceup, .price {
  display: inline-block;
}

.frame {

display: inline-block;
margin: 10px; /* เพิ่ม margin ที่ทุกด้าน */
margin-bottom: 30px; /* เพิ่ม margin ด้านล่าง */
}

/* คำสั่งเดียวกันที่เพิ่ม margin-left และ margin-right */
@media only screen and (min-width: 768px) {
.frame {
  margin-left: 50px;
  margin-right: 20px;
}
}

/* ปรับ margin สำหรับจอขนาดเล็กกว่า 768px */
@media only screen and (max-width: 768px) {
.frame {
  margin: 30px;
  margin-bottom: 30px;
}
a{
  text-decoration: none;
  }

}
